################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Convergex/.vs/Convergex.slnx/FileContentIndex

# SQLite local
**/convergex.db
**/convergex.db-*
*.db
*.db-shm
*.db-wal
